@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    background-color: transparent;
    /* box-shadow: 5px 5px 5px whitesmoke; */
}

.border {
    position: relative;
    display: flex;
    justify-content: right;
    color: white;
    list-style-type: none;
}

a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: black;
}


li {
    position: relative;
    margin: 18px;

}

.img {
    position: relative;
    background-image: url('../images/background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
    opacity: 0.88;

}

.content {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 600px;
    height: 200px;
}

.content h3 {
    color: #f1f1f1;
}

.content h1 {
    font-size: 5rem;
    color: #f1f1f1;
}

/* aboutte */

.About {
    /* margin-top: 10px; */
    color: #212121;
    padding: 50px;
    background-color: #e6e5e9;
    box-shadow: whitesmoke;
    height: 100%;
    min-height: 400px;
}

.p3 {
    text-align: center;
    font-size: 30px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
    margin-top: 20px;

}

.profile {
    height: 440px;
    width: 350px;
    margin-left: 15%;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 50px;
    color: white;
}

.p4 {
    float: right;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 8%;
    height: auto;
    width: 550px;
    line-height: 40px;
}

/* Skills */

.skills {
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    min-height: 450px;
}

.skills .part {
    height: 500px;
    margin-right: 12%;
    margin-left: 12%;
    padding: 15px;
    border-radius: 50px;
    background-color: #e6e5e9;
    box-shadow: 0px 0px 7px black;
    color: black;
    width: 80%;
}

.skills .part .subpart {
    padding-left: 10%;
    padding-right: 14%;
    padding-top: 30px;
}

.subpart2 {
    padding-left: 30%;
    padding-top: 7%;
}

/* projects */



/* contact */
.contact {
    min-height: 400px;
}

main {
    background-color: #c4c4c4;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lablstyle {
    flex: 1;
    margin-left: 30%;
    margin-right: 30%;
    /* margin-bottom: 40px; */
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1.5px solid #e6e5e9;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.details {
    background-color: #212121;
    color: white;
    padding: 50px;
    /* padding-left: 25%; */

}

.SocialLink {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
}

/* footer */

footer {
    margin-top: 50px;
    background: #000;
    padding: 50px 5px;
    text-align: center;
    color: white;
}